@font-face {
    font-family: "Norse-Bold";
    src: url(Norse-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
}


/* SECTION 1: LEFT SIDE */
.left {
    background-image: url("https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.left .logo-container {
    background-color: rgba(0, 0, 0, 0.500);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    padding: 10px;
}

.left .logo-container img {
    height: 150px;
}

.left .logo-container span {
    color: white;
    font-family: "Norse-Bold";
    font-size: 7rem;
}

.left > span, .left > span a {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.900);
    margin-bottom: 10px;
}

.left > span a:hover {
    text-decoration: none;
}

/* SECTION 2: RIGHT SIDE */
.right {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.right .intro {
    background-color: rgb(245, 245, 245);
    padding: 100px 50px 50px 50px;
}

.right .intro p {
    font-size: 1.4rem;
    font-weight: 500;
    width: 65%;
}

.right .form-container {
    box-shadow: 0px 5px 10px rgb(200, 200, 200);
    padding: 20px 50px 30px 50px;
}

.right .form-container h2 {
    font-weight: 500;
    margin-bottom: 10px;
}

.right .form-container .form-inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: 60%;
}

.right .form-container .form-inputs .input-cell {
    width: 45%;
}

.right .form-container .form-inputs .input-cell label {
    display: block;
    font-weight: 400;
    font-size: .8rem;
    margin-bottom: 2px;
}

.right .form-container .form-inputs .input-cell input {
    border-radius: 5px;
    border: none;
    background-color: rgb(250, 250, 250);
    padding: 5px 10px;
    outline: 1px solid rgb(225, 225, 225);
}

.right .form-container .form-inputs .input-cell input:focus {
    outline: 1px solid rgb(35, 105, 255);
}

.right .form-container .form-inputs .input-cell input[type="password"]:invalid {
    outline: 1px solid rgb(255, 35, 35);
}

.right .buttons-section {
    padding: 30px 50px;
}

.right .buttons-section button {
    background-color: #596D48;
    color: white;
    padding: 10px 50px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    display: block;
    margin-bottom: 30px;
    cursor: pointer;
    transition: 0.2s;
}

.right .buttons-section button:hover {
    filter: brightness(1.2);
}

.right .buttons-section a {
    color: #596D48;
    text-decoration: none;
    font-weight: 600;
}

.right .buttons-section a:hover {
    text-decoration: underline;
}